
/* Body */
body,h1,h5 {font-family: "Raleway", sans-serif}

html,
body {
  height: 100%;
  margin: 0;
  position: relative;
}

p{
  font-size: 19px;
}

h3{
  font-weight: bold;
}

h4{
  margin:0;
  font-weight: 100;
  margin-top: -.6em;
  font-size: 19px;
}

/* Disable Vertical Scroll */
.noscroll{
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Landing Page Image */
.bgimg {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('./pics/IMG_landing_resized.jpg') no-repeat -9999px -9999px;
  min-height: 100%;
  background-position: center !important;
  background-size: cover !important;
}

/* Landing Page Buttons */

#landing_buttons{
    opacity: 0;

    animation: fadeIn 1.5s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
  }

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 1000px) {

#landing_buttons{
  display:inline-grid;
  width:auto;

}

}
/* About me pic */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/* For Sliding Pages */
nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
}

#Nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  z-index: 1;
}

.wrapper {
  height: 100%;
}

.page {
  float: left;
  min-height: 100%;
  padding-top: 30px;
}

a {
  color: black;
}

a.selected {
  color: red;
}

.simulate {
  height: 2000px;
}

/* Top of page button */
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 3%;
    right: 3%;
    background-color: #DDD;
    color: black;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}

/* Center Icons */
.centerIcons{
  width: 450px;
  margin: 0 auto;
  max-width: 100%;
}

/* Style all font awesome icons */
.fa {
  padding: 30px;
  font-size: -webkit-xxx-large !important;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Hover effect for photo gallery */
.w3-quarter img{height:400px;width: 400px;padding: 5px; cursor: pointer}
.w3-quarter img:hover{opacity: 0.6; transition: 0.3s}

/* Image Thumbnail */
.thumbnail {
  margin: 0 auto;
  max-height:400px;
  max-width:400px;
  overflow: hidden;
}

/* Full Size Image */
.full-image{
  max-width:100%;
  max-height:85vh;
}

.grayscale{
  filter:grayscale(20%);
}

/* Experience Section */
.expContainer{
  position: relative;
  overflow: hidden;
}
.expDiv{
  height:100%;
  position: absolute;
  right:0;
  top: 0;
}

.expImg{
  position: absolute;
  top: 50%;
  right:0;
  transform: translateY(-50%);
}
