
/* Body */
body,h1,h5 {font-family: "Raleway", sans-serif}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

/* Landing Page Image */
.bgimg {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('./pics/IMG_1831.jpg') !important;
  min-height: 100%;
  background-position: center !important;
  background-size: cover !important;
}

/* For Sliding Pages */
nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
}

.wrapper {
  height: 100%;
}

.page {
  float: left;
  min-height: 100%;
  padding-top: 30px;
}

a {
  color: black;
}

a.selected {
  color: red;
}

.simulate {
  height: 2000px;
}
